.calendar {
  display: flex;
  flex-wrap: wrap;
  gap: 1px;
  justify-content: flex-start;
  margin: $calendarVMargin auto;
  width: $calendarWidth;
}

@for $i from 1 through 31 {
  .calendar :nth-child(#{$i})::after {
    content: "#{$i}";
  }
}

@for $day from 28 through 30 {
  .calendar-#{$day} :nth-child(n + #{$day + 1}) {
    display: none;
  }
}

@each $dayOfWeek, $number in $dayOfWeek-number {
  .calendar-#{$dayOfWeek} :first-child {
    margin-left: firstDayMargin($number);
  }
}
