.calendar > div {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  background-color: $cellColor;
  border: $border;
  width: $cellWidth;
  height: $cellHeight;
  transition: 0.5s;
  cursor: pointer;

  &:hover {
    transform: translateY(-$animationHeight);
    background-color: $animatedCellColor;
  }

}
